Flask==2.0.1
GitPython==3.1.18
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
cffi==1.14.6
click==8.0.1
colorama==0.4.4
gevent==21.1.2
gitdb==4.0.7
greenlet==1.1.0
gunicorn==20.1.0
gunicorn-websocket==0.0.3
itsdangerous==2.0.1
joblib==1.0.1
nltk==3.6.2
pip==20.2.4
psycopg2==2.8.6
pycparser==2.20
pymongo==3.11.4
regex==2021.7.6
setuptools==50.3.2
smmap==4.0.0
textblob==0.15.3
tqdm==4.62.0
zope.event==4.5.0
zope.interface==5.4.0